<div class="search_find">
    <div class="search_find_title1">历史搜索</div>

    <div class="search_find_line">

        <%-include('search_find_1_list.ejs',{
        'searchProduct':'电脑主板'
        })%>

        <%-include('search_find_1_list.ejs',{
        'searchProduct':'畅玩5c'
        })%>

        <%-include('search_find_1_list.ejs',{
        'searchProduct':'n4s'
        })%>

        <%-include('search_find_1_list.ejs',{
        'searchProduct':'手工饰品'
        })%>

        <%-include('search_find_1_list.ejs',{
        'searchProduct':'箱包手袋'
        })%>

        <%-include('search_find_1_list.ejs',{
        'searchProduct':'美妆个护'
        })%>

        <%-include('search_find_1_list.ejs',{
        'searchProduct':'钟表珠宝'
        })%>


    </div>
</div>